<header>
    <title> RailsFlood | Home </title>
    <nav class="navbar navbar-expand-lg bg-dark">
        <a class="navbar-brand" href="/">Flood on Rails!</a>
        <ul class="nav-container">
            <li class="nav-item flex-item tight">
                <%= link_to controller: 'landing_page' do %>
                    <div class="btn-quiet nav-link">
                        <i class="fas fa-home"></i> Home
                    </div>
                <% end %>
            </li>
            <li class="nav-item flex-item tight">
                <%= link_to controller: 'game' do %>
                    <div class="nav-link">
                        <i class="fas fa-th"></i> FloodIt!
                    </div>
                <% end %>
            </li>
            <li class="nav-item flex-item tight">
                <%= link_to controller: 'computer_game' do %>
                    <div class="nav-link">
                        <i class="fas fa-desktop"></i> Play Computer
                    </div>
                <% end %>
            </li>
            <li class="nav-item flex-item tight">
                <%= link_to controller: 'high_scores' do %>
                    <div class="nav-link">
                         <i class="fas fa-crown"></i> High Scores
                    </div>
                <% end %>
            </li>
        </ul>
    </nav>
</header>


<body>

    <div class="content-box">
        <br />
        <h1 class="title center"> FloodIt!</h1>
        <div class="flex-grid">
        
            <% if @game.state == 1 %>
                <h2>You won!</h2>
                <% if @game.score < @worst_score %>
                    <%= javascript_tag "showForm()" %>

                <% end %>
            <% elsif @game.state == -1 %>
                <h2>You Lost</h2>
            <% else %>

            <% end %>

            <div class="game-grid-medium" id="game_grid">
                
                <% @game.board.game_board.each do |x| %>
                    <% x.each do |y| %>
                        <div class="board_btn flex-item-board item">
                        
                            <% if @game.state == 0 %>    
                            <%= button_to(y, {:controller => "game", :action => "update", :flood_color => y},
                                {:method=>:PUT, :remote => :true, :form_class=> "board-tile", :class => "no-show board-tile", :style => "background-color:#{colorMapper(y)}"} )  %>
                            <% else %>
                            <%= button_to(y, {:controller => "game", :action => "update", :flood_color => y},
                                {:method=>:PUT, :remote => :true, :form_class=> "board-tile", :class => "no-show board-tile", 
                                    :style => "background-color:#{colorMapper(y)}", :disabled => true} )  %>
                            <% end %>
                        </div>
                    <% end %>
                <% end %>
                
            </div>
            </div>
            <div class="flex-container btn-group mt2">
                <%= button_to "New Game", {:controller => "game", :action => "create", :method=>:PUT, :remote => :true}, :class=>"no-back btn-text", :form_class => "btn btn-secondary btn-format v-center" %>
                
                <%= form_tag({:controller => "game", :action => "create",:method => :PUT, :remote => :true}, {:id => "size_form", :class=> "btn btn-secondary btn-format"}) do %>
                <%= select_tag :size, options_for_select([ "Small", "Medium", "Large" ], "Medium"), :onchange => 'change_size()' %>
                <%= submit_tag "Submit", :style => "display: none;"%>
                <% end %>
                
                <button class="btn btn-secondary btn-format" disabled> <p class="btn-text"> Moves Remaining: <%= @game.moves_remaining %> </p> </form>
                <button class="btn btn-secondary btn-format" disabled> <p class="btn-text"> Score: <%= @game.score %> </p> </form>
            </div>
            <!-- Button to open the modal login form -->
            <button id="highscore_button" onclick="document.getElementById('highscore_form').style.display='block'">Add High Score</button>

            <!-- The Modal -->
            <div id="highscore_form" class="modal">
            <span onclick="document.getElementById('highscore_form').style.display='none'" 
            class="close" title="Close Modal">&times;</span>

            <!-- Modal Content -->
            <%= form_for(@highscore, url: {controller: "high_scores", action: "create"}, :html => {:class => "modal-content"}) do |f| %> 
                <p>Congratulations, you made a new high score!</p> 
                <div class="field"> 
                    <%= f.label :name %>
                    <%= f.text_field :name %> 
                </div> 
                <div class="field"> 
                    <%= f.label :score %>
                    <%= f.text_field :score %> 
                </div> 
                <div class="actions"> 
                    <%= f.submit "Add High Score" %> 
                </div> 
            <% end %>
        </div>
    </div>
    <script>
        // Set select size value
        var size = "<%= escape_javascript @game.size %>";
        if (size === "") {
            size = "Medium"
        }
        document.getElementById('size').value = size;

        // Set board display
        var board = document.getElementById('game_grid');
        switch(size) {
            case "Small":
                board.className = "game-grid-small";
                break;
            case "Medium":
                board.className = "game-grid-medium";
                break;
            case "Large":
                board.className = "game-grid-large";
                break;
            default:
                board.className = "game-grid-medium";
        }

        // Hide the high score button
        document.getElementById('highscore_button').style.visibility = 'hidden';

        // Get the modal
        var modal = document.getElementById('highscore_form');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        // Simulate clicking the high score button
        function showForm() {
            document.getElementById("highscore_button").click();
        }

        function change_size() {
            document.getElementById("size_form").submit();
        }

    </script>


    <%= form_tag game_path, remote: true do %>
    <%= hidden_field_tag :color, "color" %>
    <% end %>
</body>

