
<title> Hello! I'm the games page! </title>
<body>
    <div class="flex-grid">
        <p>
        Im a paragraph -- games
       <%= button_to 'New High Score', {:controller => "high_scores", :action => "new", data: { behavior: 'modal' } } %>
   
        </p>

        <div id="modal-holder"></div>

        <div class="flex-container">
            <%= button_to "New Game", {:controller => "game", :action => "create", :method=>:PUT, :remote => :true}, :class => "flex-item-padded" %>
    <p>
        Im a paragraph -- games
       <%= button_to 'New High Score', {:controller => "high_scores", :action => "new", data: { behavior: 'modal' } } %>
   
    </p>

    <div id="modal-holder"></div>

    <div class="flex-container">
        <%= button_to "New Game", {:controller => "game", :action => "create", :method=>:PUT, :remote => :true}, :class => "flex-item-padded" %>


            <p class="flex-item-padded" >Moves Remaining: <%= @game.moves_remaining %></p>
        </div>
        <% if @game.state == 1 %>
            <p>You won!</p>
        <% elsif @game.state == -1 %>
            <p>You Lost</p>
        <% else %>

        <% end %>

        <div class="game-grid">
            
            <% @game.board.game_board.each do |x| %>
                <% x.each do |y| %>
                    <div class="board_btn flex-item-board item">
                    
                        <%= button_to y, {:controller => "game", :action => "update", :flood_color => y}, 
                            :method=>:PUT, :remote => :true, :class => "no-show board-tile", :style => "background-color:#{colorMapper(y)}" %>
                    </div>
                <% end %>
            <% end %>
            
        </div>
    </div>
    <script>
    function flood(color) {

    }
    </script>

    <%= form_tag game_path, remote: true do %>
    <%= hidden_field_tag :color, "color" %>
    <% end %>
</body>

