
<header>
    <title> RailsFlood | Game </title>
    <nav class="navbar navbar-expand-lg bg-dark">
        <a class="navbar-brand" href="/">Flood on Rails!</a>
        <ul class="nav-container">
            <li class="nav-item flex-item">
                <%= link_to controller: 'landing_page' do %>
                    <div class="btn-quiet nav-link">
                        <span class="glyphicon glyphicon-home"></span> Home
                    </div>
                <% end %>
            </li>
            <li class="nav-item flex-item">
                <%= link_to controller: 'game' do %>
                    <div class="nav-link">
                        <span class="glyphicon glyphicon-home"></span> FloodIt!
                    </div>
                <% end %>
            </li>
            <li class="nav-item flex-item">
                <%= link_to controller: 'high_scores' do %>
                    <div class="nav-link">
                        <span class="glyphicon glyphicon-home"></span> High Scores
                    </div>
                <% end %>
            </li>
        </ul>
    </nav>

</header>

<body>
    <div class="flex-grid">
        <div class="flex-container">
            <%= button_to "New Game", {:controller => "game", :action => "create", :method=>:PUT, :remote => :true}, :class => "flex-item-padded" %>
            <%= button_to 'New High Score', {:controller => "high_scores", :action => "new", data: { behavior: 'modal' } } %>


            <p class="flex-item-padded" >Moves Remaining: <%= @game.moves_remaining %></p>
        </div>
        <% if @game.state == 1 %>
            <p>You won!</p>
        <% elsif @game.state == -1 %>
            <p>You Lost</p>
        <% else %>

        <% end %>

        <div class="game-grid">
            
            <% @game.board.game_board.each do |x| %>
                <% x.each do |y| %>
                    <div class="board_btn flex-item-board item">
                    
                        <%= button_to y, {:controller => "game", :action => "update", :flood_color => y}, 
                            :method=>:PUT, :remote => :true, :class => "no-show board-tile", :style => "background-color:#{colorMapper(y)}" %>
                    </div>
                <% end %>
            <% end %>
            
        </div>
    </div>
    <script>
    function flood(color) {

    }
    </script>

    <%= form_tag game_path, remote: true do %>
    <%= hidden_field_tag :color, "color" %>
    <% end %>
</body>

