<header>
    <title> RailsFlood | Home </title>
    <nav class="navbar navbar-expand-lg bg-dark">
        <a class="navbar-brand" href="/">Flood on Rails!</a>
        <ul class="nav-container">
            <li class="nav-item flex-item tight">
                <%= link_to controller: 'landing_page' do %>
                    <div class="btn-quiet nav-link">
                        <i class="fas fa-home"></i> Home
                    </div>
                <% end %>
            </li>
            <li class="nav-item flex-item tight">
                <%= link_to controller: 'game' do %>
                    <div class="nav-link">
                        <i class="fas fa-th"></i> FloodIt!
                    </div>
                <% end %>
            </li>
            <li class="nav-item flex-item tight">
                <%= link_to controller: 'high_scores' do %>
                    <div class="nav-link">
                         <i class="fas fa-crown"></i> High Scores
                    </div>
                <% end %>
            </li>
        </ul>
    </nav>
</header>


<body>
    <div id="modal-holder"></div>
    <div class="content-box">
        <div class="flex-grid">
            <div class="flex-container">
                <%= button_to "New Game", {:controller => "game", :action => "create", :method=>:PUT, :remote => :true}, :class => "flex-item-padded" %>

                <p class="flex-item-padded" >Moves Remaining: <%= @game.moves_remaining %></p>
            </div>
        
            <% if @game.state == 1 %>
                <p>You won!</p>
                <% if @game.score < @worst_score %>
                    <%= javascript_tag "showForm()" %>

                <% end %>
            <% elsif @game.state == -1 %>
                <p>You Lost</p>
            <% else %>

            <% end %>

            <div class="game-grid">
                
                <% @game.board.game_board.each do |x| %>
                    <% x.each do |y| %>
                        <div class="board_btn flex-item-board item">
                        
                            <%= button_to(y, {:controller => "game", :action => "update", :flood_color => y},
                                {:method=>:PUT, :remote => :true, :form_class=> "board-tile", :class => "no-show board-tile", :style => "background-color:#{colorMapper(y)}"} )  %>
                        </div>
                    <% end %>
                <% end %>
                
            </div>

            <!-- Button to open the modal login form -->
            <button id="highscore_button" onclick="document.getElementById('highscore_form').style.display='block'">Add High Score</button>

            <!-- The Modal -->
            <div id="highscore_form" class="modal">
            <span onclick="document.getElementById('highscore_form').style.display='none'" 
            class="close" title="Close Modal">&times;</span>

            <!-- Modal Content -->
            <%= form_for(@highscore, url: {controller: "high_scores", action: "create"}) do |f| %>  
                <div class="field"> 
                    <%= f.label :name %><br> 
                    <%= f.text_field :name %> 
                </div> 
                <div class="field"> 
                    <%= f.label :score %><br> 
                    <%= f.text_field :score %> 
                </div> 
                <div class="actions"> 
                    <%= f.submit "Add High Score" %> 
                </div> 
                <% end %>
            </div>

        </div>
    </div>
    <script>
        // Hide the high score button
        document.getElementById('highscore_button').style.visibility = 'hidden';

        // Get the modal
        var modal = document.getElementById('highscore_form');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        // Simulate clicking the high score button
        function showForm() {
            document.getElementById("highscore_button").click();
        }

    </script>


    <%= form_tag game_path, remote: true do %>
    <%= hidden_field_tag :color, "color" %>
    <% end %>
</body>

