<header>
    <title> RailsFlood | Computer Game </title>
    <%= render 'layouts/navbar' %>
</header>

<body>

    <div class="content-box">

        <div class="flex-grid">
           
            <% if @game.state == 1 %>
                <h2 class="subtitle tight">You won!</h2>

            <% elsif @game.state == -1 %>
                <h2 class="subtitle tight">You Lost</h2>
            <% else %>

            <% end %>

            <div class="flex-container">

                <div class = "flex-item-comp">

                    <h4 class="title center">Your Board</h4>

                    <div class="game-grid-comp-medium" id="game_grid_comp_u">
          
                        <% @game.user_board.game_board.each do |x| %>
                            <% x.each do |y| %>
                                <div class="board_btn flex-item-board item">
                                
                                    <% if @game.state == 0 %>    
                                
                                        <%= button_to(y, {:controller => "computer_game", :action => "update", :flood_color => y},
                                                {:method=>:PUT, :remote => :true, :form_class=> "board-tile", :class => "no-show board-tile", :style => "background-color:#{colorMapper(y)}"} )  %>

                                    <% else %> <!-- disable button clicks -->

                                        <%= button_to(y, {:controller => "computer_game", :action => "update", :flood_color => y},
                                                {:method=>:PUT, :remote => :true, :form_class=> "board-tile", :class => "no-show board-tile", :style => "background-color:#{colorMapper(y)}", :disabled => true } )  %>

                                    <% end %>

                                </div>
                            <% end %>
                        <% end %>
                    
                    </div>
                </div>

                <div class = "flex-item-comp">

                    <h4 class="title center">Computer</h4>

                    <div class="game-grid-comp-medium" id="game_grid_comp_c">
             
                        <% @game.comp_board.game_board.each do |x| %>
                            <% x.each do |y| %>
                                <div class="board_btn flex-item-board item">
                                
                                    <%= button_to(y, {:controller => "computer_game", :action => "update", :flood_color => y},
                                            {:method=>:PUT, :remote => :true, :form_class=> "board-tile", :class => "no-show board-tile", :style => "background-color:#{colorMapper(y)}", :disabled => true} )  %>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                
            </div>

            
            
        </div>

        <div class="flex-container btn-group mt2">
                <%= button_to "New Game", {:controller => "computer_game", :action => "create", :method=>:PUT, :remote => :true}, :class => "no-back btn-text", :form_class => "btn btn-secondary btn-format v-center" %>

                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= @game.size %>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <%= button_to "Small", {:controller => "computer_game", :action => "create", :method=>:PUT, :remote => :true, :size => "Small"}, 
                        :class=>"dropdown-item", :form_class => "dropdown-item" %>
                    <%= button_to "Medium", {:controller => "computer_game", :action => "create", :method=>:PUT, :remote => :true, :size => "Medium"}, 
                        :class=>"dropdown-item", :form_class => "dropdown-item" %>
                    <%= button_to "Large", {:controller => "computer_game", :action => "create", :method=>:PUT, :remote => :true, :size => "Large"}, 
                        :class=>"dropdown-item", :form_class => "dropdown-item" %>
                </div>

            </div>

        </div>
    </div>

    <script>
        // Set select size value
        var size = "<%= escape_javascript @game.size %>";
        if (size === "") {
            size = "Medium"
        }

        // Set board display
        var board_u = document.getElementById('game_grid_comp_u');
        var board_c = document.getElementById('game_grid_comp_c');
        switch(size) {
            case "Small":
                board_u.className = "game-grid-comp-small";
                board_c.className = "game-grid-comp-small";
                break;
            case "Medium":
                board_u.className = "game-grid-comp-medium";
                board_c.className = "game-grid-comp-medium";
                break;
            case "Large":
                board_u.className = "game-grid-comp-large";
                board_c.className = "game-grid-comp-large";
                break;
            default:
                board_u.className = "game-grid-comp-medium";
                board_c.className = "game-grid-comp-medium";
        }

        function change_size() {
            document.getElementById("size_form").submit();
        }

    </script>

</body>

