<header>
    <title> RailsFlood | Home </title>
    <nav class="navbar navbar-expand-lg bg-dark">
        <a class="navbar-brand" href="/">Flood on Rails!</a>
        <ul class="nav-container">
            <li class="nav-item flex-item tight">
                <%= link_to controller: 'landing_page' do %>
                    <div class="btn-quiet nav-link">
                        <i class="fas fa-home"></i> Home
                    </div>
                <% end %>
            </li>
            <li class="nav-item flex-item tight">
                <%= link_to controller: 'game' do %>
                    <div class="nav-link">
                        <i class="fas fa-th"></i> FloodIt!
                    </div>
                <% end %>
            </li>
            <li class="nav-item flex-item tight">
                <%= link_to controller: 'computer_game' do %>
                    <div class="nav-link">
                        <i class="fas fa-desktop"></i> Play Computer
                    </div>
                <% end %>
            </li>
            <li class="nav-item flex-item tight">
                <%= link_to controller: 'high_scores' do %>
                    <div class="nav-link">
                         <i class="fas fa-crown"></i> High Scores
                    </div>
                <% end %>
            </li>
        </ul>
    </nav>
</header>

<body>

    <div class="flex-grid">
        <div class="flex-container">
            <%= button_to "New Game", {:controller => "computer_game", :action => "create", :method=>:PUT, :remote => :true}, :class => "flex-item-padded" %>


        </div>
       
        <% if @game.state == 1 %>
            <h2>You won!</h2>

        <% elsif @game.state == -1 %>
            <h2>You Lost</h2>
        <% else %>

        <% end %>

        <div id="wrapper">

            <div class="game-grid" id = "left-game">
  
            <% @game.user_board.game_board.each do |x| %>
                <% x.each do |y| %>
                    <div class="board_btn flex-item-board item">
                    
                        <% if @game.state == 0 %>    
                    
                            <%= button_to(y, {:controller => "computer_game", :action => "update", :flood_color => y},
                                    {:method=>:PUT, :remote => :true, :form_class=> "board-tile", :class => "no-show board-tile", :style => "background-color:#{colorMapper(y)}"} )  %>

                        <% else %>

                            <%= button_to(y, {:controller => "computer_game", :action => "update", :flood_color => y},
                                    {:method=>:PUT, :remote => :true, :form_class=> "board-tile", :class => "no-show board-tile", :style => "background-color:#{colorMapper(y)}", :disabled => true } )  %>

                        <% end %>

                    </div>
                <% end %>
            <% end %>
            
            </div>

            <div class="game-grid" id="right-game">
     
                <% @game.comp_board.game_board.each do |x| %>
                    <% x.each do |y| %>
                        <div class="board_btn flex-item-board item">
                        
                            <%= button_to(y, {:controller => "computer_game", :action => "update", :flood_color => y},
                                    {:method=>:PUT, :remote => :true, :form_class=> "board-tile", :class => "no-show board-tile", :style => "background-color:#{colorMapper(y)}", :disabled => true} )  %>
                        </div>
                    <% end %>
                <% end %>
            </div>

        </div>

        

        
</body>

