<!-- app/views/layouts/modal.html.erb -->
<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for(@highscore, url: {action: "create"}, html: { data: { behavior: 'modal' } } ) do |f| %>  
  <div class="field"> 
    <%= f.label :name %><br> 
    <%= f.text_field :name %> 
  </div> 
  <div class="field"> 
    <%= f.label :score %><br> 
    <%= f.text_field :score %> 
  </div> 
  <div class="actions"> 
    <%= f.submit "Add High Score" %> 
  </div> 
<% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->