<header>
    <title> RailsFlood | Home </title>
    <nav class="navbar navbar-expand-lg bg-dark">
        <a class="navbar-brand" href="/">Flood on Rails!</a>
        <ul class="nav-container">
            <li class="nav-item flex-item tight">
                <%= link_to controller: 'landing_page' do %>
                    <div class="btn-quiet nav-link">
                        <i class="fas fa-home"></i> Home
                    </div>
                <% end %>
            </li>
            <li class="nav-item flex-item tight">
                <%= link_to controller: 'game' do %>
                    <div class="nav-link">
                        <i class="fas fa-th"></i> FloodIt!
                    </div>
                <% end %>
            </li>
            <li class="nav-item flex-item tight">
                <%= link_to controller: 'computer_game' do %>
                    <div class="nav-link">
                        <i class="fas fa-desktop"></i> Play Computer
                    </div>
                <% end %>
            </li>
            <li class="nav-item flex-item tight">
                <%= link_to controller: 'high_scores' do %>
                    <div class="nav-link">
                         <i class="fas fa-crown"></i> High Scores
                    </div>
                <% end %>
            </li>
        </ul>
    </nav>
</header>

<body>

    <div class="content-box">
    <br />
        <div align='center'>
            <h1 class="title">
                High Scores!
            </h1>

            <%= form_tag({:controller => "high_scores", :action => "index", :remote => :true}, {:method => :GET, :id => "size_selector", :class=> "btn btn-secondary btn-format"}) do %>
                <%= select_tag :size, options_for_select([ "Small", "Medium", "Large" ], "Medium"), :onchange => 'change_size()' %>
                <%= submit_tag "Submit", :style => "display: none;"%>
            <% end %>

            <div class="scores-grid mt2">
                <% @scores.each do |hs| %>
                    <p class="score-item"> <%= hs.name %> </p>
                    <p class="score-item"> <%= hs.score %> </p>
                <% end %>
            </div>
        </div>
    </div>

    <script>

        // Set select size value
        var size = "<%= @size %>";
        if (size === "") {
            size = "Medium"
        }
        document.getElementById('size').value = size;

        function change_size() {
            document.getElementById("size_selector").submit();
        }

    </script>

</body>
