<header>
    <title> RailsFlood | High Scores </title>
    <nav class="navbar navbar-expand-lg bg-dark">
        <a class="navbar-brand" href="/">Flood on Rails!</a>
        <ul class="nav-container">
            <li class="nav-item flex-item">
                <%= link_to controller: 'landing_page' do %>
                    <div class="btn-quiet nav-link">
                        <span class="glyphicon glyphicon-home"></span> Home
                    </div>
                <% end %>
            </li>
            <li class="nav-item flex-item">
                <%= link_to controller: 'game' do %>
                    <div class="nav-link">
                        <span class="glyphicon glyphicon-home"></span> FloodIt!
                    </div>
                <% end %>
            </li>
            <li class="nav-item flex-item">
                <%= link_to controller: 'high_scores' do %>
                    <div class="nav-link">
                        <span class="glyphicon glyphicon-home"></span> High Scores
                    </div>
                <% end %>
            </li>
        </ul>
    </nav>

</header>
<body>
    <div class="content-box">
        <div align='center'>
            <h1>
                High Scores n stuff!!
            </h1>

        <%= button_to 'New High Score', {:controller => "high_scores", :action => "new"} %>

        <% @scores.each do |hs| %>
            <p> <%= hs.name %> <%= hs.score %> </p>
        <% end %>
    </div>
</div>
